<!-- NavBar -->
  <div class="bg-light">
    <div class="container">
        <nav class=" col navbar navbar-expand-lg navbar-light">
          <!--The Section responsible for the collapse, the value of the data-target of the button and id of the div must match-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <!--Up till this point-->
          <a class="navbar-brand" href="./index.html">
        <!--To add logo and the rand name the navbar section-->
            <img src="/assets/logo.png" width="60" height="40" alt="Site logo" class="d-inline-block" loading="lazy">
          </a>
          <!-- Menu-Items -->
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 justify-content-center">
            <li class="nav-item active" ><a class="nav-link h5" href="/">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link h5" href="/about">About</a></li>
            <li class="nav-item"><a href="/auth/signup" class="nav-link h5">Register</a></li>
            <li class="nav-item"><a href="/auth/signin" class="nav-link h5">Login</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle h5" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Training</a>
                <a class="dropdown-item" href="#">Outsourcing</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Project Design</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0 bg-light">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          </div>
        </nav>
    </div>
  </div>